#main__tecnologias {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12.5rem
}

.main__tecnologias__sub-titulo {
    font-size: var(--fonte-sub-titulo-mobile);
    font-weight: var(--fonte-weigth-semi-bold);
    color: var(--cor-branca);
    text-align: center;
}

.main__tecnologias__apresentacao__habilidades {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__tecnologias__apresentacao {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

.main__tecnologias__apresentacao-tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--cor-branca);
}

.main__tecnologias__apresentacao-tecnologias__titulo {
    font-size: var(--fonte-sub-titulo-mobile);
    font-weight: var(--fonte-weigth-semi-bold);
}

.main__tecnologias__apresentacao-tecnologias__descricao {
    text-align: justify;
}

.main__tecnologias__tecnologias__lista-tecnologias {
    display: flex;
    gap: 1.5rem;
    justify-items: center;
}

.main__tecnologias__tecnologias__lista-tecnologias__item img {
    width: 60px;
    height: auto;
}

.main__tecnologias__apresentacao__ancora-projetos {
    align-self: flex-start;
    color: var(--cor-secundaria);
}

.main__tecnologias__apresentacao__linha-producao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main__tecnologias__apresentacao__linhas-producao__titulo {
    color: var(--cor-branca);
}

.main__tecnologias__apresentacao__linha-producao__lista-producao {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.main__tecnologias__apresentacao__linha-producao__lista-producao__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--cor-branca);
    align-items: center;
    position: relative;
    z-index: 1;
}

.main__tecnologias__apresentacao__linha-producao__lista-producao__item img {
    width: 60px;
    height: auto;
}

@media (min-width: 769px) {
    .main__tecnologias__sub-titulo {
        font-size: var(--fonte-sub-titulo-tablet);
    }

    .main__tecnologias__apresentacao-tecnologias__titulo {
        font-size: var(--fonte-sub-titulo-tablet);
        align-self: flex-start;
    }

    .main__tecnologias__apresentacao-tecnologias__descricao {
        font-size: var(--fonte-paragrafo-tablet)
    }

    .main__tecnologias__apresentacao__linhas-producao__titulo {
        font-size: var(--fonte-paragrafo-tablet);
    }
}

@media (min-width: 1025px) {
    .main__tecnologias__sub-titulo {
        font-size: var(--fonte-sub-titulo);
    }

    .main__tecnologias__apresentacao-tecnologias__titulo {
        font-size: var(--fonte-sub-titulo);
    }

    .main__tecnologias__apresentacao-tecnologias__descricao {
        font-size: var(--fonte-paragrafo);
        line-height: 1.2
    }

    .main__tecnologias__apresentacao__linhas-producao__titulo {
        font-size: var(--fonte-paragrafo);
    }

    .main__tecnologias__apresentacao__habilidades {
        flex-direction: row;
        align-items: baseline;
        padding: 0 10rem;
    }

    .main__tecnologias__tecnologias__lista-tecnologias__item img {
        width: 70px;
    }

    .main__tecnologias__apresentacao__linha-producao__lista-producao__item img {
        width: 70px;
    }

}